.login-btn {
    font-family: Calibri;
    color:white;
    background-color: rgb(255, 60, 106);
    border:none;
    border-radius: 5px;
    padding: 4px 15px;
    font-size: 17px;
}
.login-btn:active{
    box-shadow: 0 5px rgb(77, 34, 34);
    transform: translateY(1px);
}
input {
    font-family: FontAwesome;
    width: 600px;
}
select {
    background-color: #333;
    border:none;
    padding:0 5px 0 0;  
    font-size: 17px;
}
.profile{
    color:white;
    display:flex;
    width:155px;
    gap:10px;
}
.profile-icon{
    font-size:25px; 
}
.name-text {
    font-size:17px;
    margin-bottom: 0;
    margin-top:5px;
}
/* .img-container {
    float: left;
    padding: 10px;
} */

