<nav class="navbar navbar-expand-sm navbar-dark sticky-top" style="background-color:#333; position:relative">
    <span class="navbar-brand" style="font-family: Montserrat"><i class="bi bi-ticket-perforated-fill container" style="color:rgb(255, 60, 106)"></i>ReelReserve </span>
    <div class="container">
        <input routerLink="/search" class="p-1" type="text" placeholder=" &#xf002;    search for movies">
    </div>
    <select class="navbar-brand" name="" id="">
        <option value="" >Select Location</option>
        <option value="" (click)="sendLoc('Bangalore')">Bengaluru</option>
        <option value="" (click)="sendLoc('Hyderabad')">Hyderabad</option>
        <option value="" (click)="sendLoc('Andhra Pradesh')">Andhra Pradesh</option>
        <option value="" (click)="sendLoc('Pune')">Pune</option>
        <option value="" (click)="sendLoc('Mumbai')">Mumbai</option>   
        <option value="" (click)="sendLoc('Chennai')">Chennai</option>
    </select>
    <button *ngIf="!isLoggedIn" class="navbar-brand login-btn" routerLink="/login">Login</button>
    <div *ngIf="isLoggedIn" class="profile"><span class="profile-icon"><i class="bi bi-person-circle"></i></span><p class="name-text">Hi, {{name}}</p></div>
</nav>
