<div class="form-container">
<form class="form-class" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
  <p class="heading">Login screen</p>
  <p class="bottom-line">Stay updated with upcoming movies</p><br>
  <table>
    <tr>
      <td><input type="text" id="email" name="email" placeholder="Email address" formControlName="email"></td>
    </tr><br>
    <tr>
      <td><input type="text" id="password" name="password" placeholder="Password" formControlName="password"></td>
    </tr>
  </table>
  <button type="submit">Login</button>
  </form>
</div>
<span>New to ReelReserve? </span><a routerLink="/register">sign in</a>