.msg {
    margin-top: 10px;
    text-align: center;
    color:black;
    font-weight:700;
}
.dish {
    margin: 40px 50% 30px 35%;
    box-shadow: 0px 0px 5px 5px rgb(237, 236, 236); 
    width:30%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.holder-1 {
    padding:10px 0px 10px 10px;
    display: flex;
    gap:20px;
    flex-wrap: wrap;
}
.holder-2 {
    padding:10px 0px 10px 10px;
    display: flex;
    gap:80px;
}
.movie-name {
    font-size: 20px;
    font-weight:600;
    margin-bottom:10px;
    line-height: 20px;
}
.lang-format,.date,.theatre-name, .verti {
    font-size:14px;
    opacity:0.8;
}
.picture {
    border-radius: 5px;
}
.verti {
    rotate:-90deg;
    height:20px;
    margin-top: 40px;
}
.second-row {
    width:200px;
}
.img {
    margin-top: 10px;
}
.item {
    text-align: center;
    font-size:18px;
    font-weight:600;
}
.item-1 {
    text-align: center;
    font-size:14px;
    opacity:0.8;
}
.item-2 {
    text-align: center;
    font-size:13px;
    font-weight:700; 
}
.bottom-line {
    margin: 10px 5px 10px 5px;
    font-size:14px;
    opacity:0.8;
    text-align: center;
    padding-left: 0;
    background-color: rgba(243, 243, 243, 0.842);
}
.holder-3 {
    display: flex;
    justify-content: space-between;
    padding:0px 10px 10px 10px;
}
.median {
    width:385px;
    height:60px;
    border-radius:20px;
    margin: 0 auto;
    background: radial-gradient(circle 15px at right, #ececec 95%, #ffffff00),
    radial-gradient(circle 15px at left, #ececec 95%, #ffffff00);
    background-origin:border-box;
    -webkit-mask:radial-gradient(circle 15px at right, #0000 95%, #000) right,
    radial-gradient(circle 15px at left, #0000 95%, #000);
    -webkit-mask-size:51% 100%
    
}
