<div class="dish">
    <div class="holder-1">
        <img class="picture" alt="" width="70" height="100">
        <div class="second-row">
            <div class="movie-name" >{{title}} ({{certificate}})</div>
            <div class="lang-format">{{language}}, {{format}}</div>
            <div class="date">{{day}}, {{date}} {{month}} | {{time}}</div>
            <div class="theatre-name">{{theatre}}</div>
        </div>
        <div class="verti">M-Ticket</div>
    </div><br>
    <div class="holder-2">
        <img class="img" src="assets/Images/qr-code.png" width="70" height="70" >
        <div>{{count}} Ticket(s)</div>
    </div>
</div>
