<div class="form-container">
  <form [formGroup]="RegistrationForm" (ngSubmit)="onRegister(RegistrationForm)">
    <p>REGISTRATION SCREEN</p>
      <table>
        <tr>
          <td><label for="email">Email</label></td>
          <td><input type="text" id="email" name="email" formControlName="email"></td>
        </tr><br>
        <tr>
          <td><label for="password">Password</label></td>
          <td><input type="text" id="password" name="password" formControlName="password"></td>
        </tr><br>
        <tr>
          <td><label for="username">Username</label></td>
          <td><input type="text" id="username" name="username" formControlName="username"></td>
        </tr><br>
      </table>
      <button type="submit">Register</button>
    </form>
</div>
