<div class="form-container">
  <form class="form-class" [formGroup]="RegistrationForm" (ngSubmit)="onRegister(RegistrationForm)">
    <p class="heading">Registration screen</p>
      <table>
        <tr>
          <td><input type="text" id="email" name="email" placeholder="Email address" formControlName="email"></td>
        </tr><br>
        <tr>
          <td><input type="text" id="mobile" name="mobile" placeholder="Mobile number" formControlName="mobile"></td>
        </tr><br>
        <tr>
          <td><input type="text" id="password" name="password" placeholder="password" formControlName="password"></td>
        </tr><br>
      </table>
      <button type="submit">Register</button>
    </form>
</div>
